/*-- scss:defaults --*/

// Set font to roboto slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


// Define colors
$pink: #FBADB6;
$dark-pink: #DB0059;
$white: #FFFFFC;
$purple: #9158A2;


// Assign colors
$navbar-bg: $pink; // navbar
$navbar-fg: $dark-pink; //navbar text
$navbar-hl: $white; // highlight color when hovering over navbar links
$navbar-color: $dark-pink; // nav bar text color
$body-color: $dark-pink; // page text 
$link-color: $purple; // hyperlinks 

